.AddInvoice{
    width: 40%;
    background-color: rgb(174, 174, 241);
    border-radius: 15px;
    border: rgb(79, 79, 184) 2px solid;
    box-shadow: 10px 10px 10px grey;
    padding: 50px;
    text-align:left ;
    margin: auto;
    margin-top: 5%;
}